# Exercises II

In [47]:
import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import numpy as np
import os
from env import host, user, password
import wrangle

1. Acquire bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, and fips from the zillow database for all 'Single Family Residential' properties.

In [2]:
df = wrangle.get_zillow_data()

In [3]:
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
3,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0

2. Using your acquired Zillow data, walk through the summarization and cleaning steps in your wrangle.ipynb file like we did above. You may handle the missing values however you feel is appropriate and meaninful; remember to document your process and decisions using markdown and code commenting where helpful.

In [4]:
df.shape

(2152863, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2152863 entries, 0 to 2152862
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 131.4 MB

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
bedroomcnt,2152852.0,3.287196,0.954754,0.00,3.00,3.00,4.00,25.00
bathroomcnt,2152852.0,2.230688,0.999280,0.00,2.00,2.00,3.00,32.00
calculatedfinishedsquarefeet,2144379.0,1862.855178,1222.125124,1.00,1257.00,1623.00,2208.00,952576.00
taxvaluedollarcnt,2152370.0,461896.237963,699676.049600,1.00,188170.25,327671.00,534527.00,98428909.00
yearbuilt,2143526.0,1960.949681,22.162196,1801.00,1949.00,1958.00,1976.00,2016.00
taxamount,2148421.0,5634.865978,8178.910249,1.85,2534.98,4108.95,6414.32,1337755.86
fips,2152863.0,6048.377335,20.433292,6037.00,6037.00,6037.00,6059.00,6111.00

In [7]:
# missing values for bedroomcnt, bathroomcnt, calculatedfinishedsqurefeet, yearbuilt, and taxamount

In [8]:
df.isnull().sum()

bedroomcnt                        11
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

In [9]:
df.isnull().any()

bedroomcnt                       True
bathroomcnt                      True
calculatedfinishedsquarefeet     True
taxvaluedollarcnt                True
yearbuilt                        True
taxamount                        True
fips                            False
dtype: bool

In [10]:
df.columns[df.isnull().any()]

Index(['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet',
       'taxvaluedollarcnt', 'yearbuilt', 'taxamount'],
      dtype='object')

In [11]:
df = df.replace(r'^\s*$', np.nan, regex=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2152863 entries, 0 to 2152862
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 131.4 MB

In [13]:
df.describe()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
count,2.152852e+06,2.152852e+06,2.144379e+06,2.152370e+06,2.143526e+06,2.148421e+06,2.152863e+06
mean,3.287196e+00,2.230688e+00,1.862855e+03,4.618962e+05,1.960950e+03,5.634866e+03,6.048377e+03
std,9.547544e-01,9.992796e-01,1.222125e+03,6.996760e+05,2.216220e+01,8.178910e+03,2.043329e+01
min,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.801000e+03,1.850000e+00,6.037000e+03
25%,3.000000e+00,2.000000e+00,1.257000e+03,1.881702e+05,1.949000e+03,2.534980e+03,6.037000e+03
50%,3.000000e+00,2.000000e+00,1.623000e+03,3.276710e+05,1.958000e+03,4.108950e+03,6.037000e+03
75%,4.000000e+00,3.000000e+00,2.208000e+03,5.345270e+05,1.976000e+03,6.414320e+03,6.059000e+03
max,2.500000e+01,3.200000e+01,9.525760e+05,9.842891e+07,2.016000e+03,1.337756e+06,6.111000e+03

In [49]:
# Do I like my column names?

In [14]:
df['calfinishedsqft'] = df.calculatedfinishedsquarefeet
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips,calfinishedsqft
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0,NaN
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0,NaN
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0,NaN
3,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0,NaN
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0,3633.0

In [15]:
df = df.drop(columns='calculatedfinishedsquarefeet')
df.head()

,bedroomcnt,bathroomcnt,taxvaluedollarcnt,yearbuilt,taxamount,fips,calfinishedsqft
0,0.0,0.0,27516.0,NaN,NaN,6037.0,NaN
1,0.0,0.0,10.0,NaN,NaN,6037.0,NaN
2,0.0,0.0,10.0,NaN,NaN,6037.0,NaN
3,0.0,0.0,2108.0,NaN,174.21,6037.0,NaN
4,4.0,2.0,296425.0,2005.0,6941.39,6037.0,3633.0

In [16]:
(df.bedroomcnt==0).value_counts()

False    2139676
True       13187
Name: bedroomcnt, dtype: int64

In [17]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2140235 entries, 4 to 2152862
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   bedroomcnt         float64
 1   bathroomcnt        float64
 2   taxvaluedollarcnt  float64
 3   yearbuilt          float64
 4   taxamount          float64
 5   fips               float64
 6   calfinishedsqft    float64
dtypes: float64(7)
memory usage: 130.6 MB

In [18]:
df.count()

bedroomcnt           2140235
bathroomcnt          2140235
taxvaluedollarcnt    2140235
yearbuilt            2140235
taxamount            2140235
fips                 2140235
calfinishedsqft      2140235
dtype: int64

In [19]:
df = df[df.bedroomcnt > 0]

In [20]:
df = df[df.bedroomcnt < 5]

In [21]:
df = df[df.bathroomcnt > 0]

In [22]:
df = df[df.bathroomcnt <= 3]
df.shape

(1854515, 7)

In [23]:
df.head()

,bedroomcnt,bathroomcnt,taxvaluedollarcnt,yearbuilt,taxamount,fips,calfinishedsqft
4,4.0,2.0,296425.0,2005.0,6941.39,6037.0,3633.0
7,3.0,2.0,646760.0,1926.0,7924.68,6037.0,2077.0
18,3.0,1.0,169471.0,1950.0,2532.88,6037.0,1244.0
19,3.0,2.0,233266.0,1950.0,3110.99,6037.0,1300.0
20,3.0,2.0,290492.0,1951.0,3870.25,6037.0,1222.0

In [25]:
df.fips.value_counts()

6037.0    1259546
6059.0     459850
6111.0     135119
Name: fips, dtype: int64

- 06037 Los Angeles
- 06059 Orange
- 06111 Ventura

In [36]:
df = df[df.calfinishedsqft < 5000]

In [38]:
df.shape

(1854141, 7)

In [48]:
df = wrangle.wrangle_zillow()
df

AttributeError: module 'wrangle' has no attribute 'wrangle_zillow'